@page
@model ProductOrderCoreRazor.Pages.Orders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.InsertDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.InsertDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.PriceFull)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.PriceFull)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Customer.ClientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.OrderItems)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>OrderItemID</th>
                    <th>Product ID</th>
                    <th>Count</th>
                </tr>
                @foreach (var item in Model.Order.OrderItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderItemID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Count)
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order.OrderID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
